---
title: Member Resources - Aggie FIRST Robotics
---
{{hero}}

{{#container}}
Keep up to date with Aggie FIRST Robotics on:
 - [Facebook]({{@site.social.facebook}})
 - [YouTube]({{@site.social.youtube}})
 - [Slack]({{@site.social.slack}})
	{{#if @site.social.slackJoin}}Not a member? [Join us]({{@site.social.slackJoin}})!{{/if}}
 - [Contact Us](mailto:aggie.first.robotics@gmail.com)

This page is a work in progress so check back for job postings, club updates, and more!
{{/container}}

{{#container class="opp-wrapper"}}
# Opportunities

![Saint Gobain logo]({{url '/assets/uploads/saint-gobain-sm.png'}}) [Saint Gobain Essentials of Manufacturing Development Program](https://sgna-eom.com) - Automotive Engineer job opportunity

Highlights:

 - You will be hired into Saint-Gobain as an Automation Engineer and be part of the 24-month Essentials of Manufacturing
Program (EoM). This will provide you the opportunity to learn at their various businesses through quarterly plant visits
and join your peers in projects and development trainings.
 - The Automation Engineer will assist in the implementation and support of plant automation, electrical and database
systems. The Engineer will assist with the development and implementation of World Class Manufacturing (WCM) projects,
production, processing methods, and controls.

<button>[More Information]({{url '/assets/uploads/saint-gobain-job-posting.pdf#blank'}})</button>

{{/container}}
