# {{title}} Sponsors
<div class="supporter-grid vertically-centered">
{{#each sponsors}}
<div class="supporter-single">
	<a href="{{link}}" title="{{name}}" target="_blank" rel="nofollow noreferrer">
		<img class="supporter-logo color" src="{{url logo}}" alt="{{name}}" />
	</a>
</div>
{{/each}}
</div>
